<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="description" content="Expense Management">
  <meta name="author" content="Pattani Hiren">
  <meta name="keyword" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expense Management</title>
 
    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

      <!-- plugins -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/plugins/font-awesome.min.css')}}"/>
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/plugins/simple-line-icons.css')}}"/>
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/plugins/animate.min.css')}}"/>
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/plugins/fullcalendar.min.css')}}"/>
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
  <!-- end: Css -->

  <link rel="shortcut icon" href="{{url_for('static', filename='img/logomi.png')}}">
  </head>

<body id="mimin" class="dashboard">
      <!-- start: Header -->
        <nav class="navbar navbar-default header navbar-fixed-top">
          <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width:100%;">
                <a href="/" class="navbar-brand"> 
                 <b>{{ name }}</b>
                </a>
              
              <ul class="nav navbar-nav navbar-right user-nav">
                <li class="user-name"><span>{{ name }}</span></li>
                  <li class="dropdown avatar-dropdown">
                   <img src="{{url_for('static',filename = 'img/avatar.jpg')}}" class="img-circle avatar" alt="user name"/>
                </li>
                <li><a href="/signout" class="opener-right-menu"><span class="fa fa-sign-out"></span></a></li>
              </ul>
            </div>
          </div>
        </nav>
      <!-- end: Header -->

      <div class="container-fluid mimin-wrapper">
  
          <!-- start:Left Menu -->
            <div id="left-menu">
              <div class="sub-left-menu scroll">
                <ul class="nav nav-list">
                    <li><div class="left-bg"></div></li>
                    <li class="time">
                      <h1 class="animated fadeInLeft">21:00</h1>
                      <p class="animated fadeInRight">Sat,October 1st 2029</p>
                    </li>
                    <li class="ripple">
                      <a class="tree-toggle nav-header" href="/dashboard" onclick="window.location.href='dashboard'"> Dashboard 
                      </a>
                    </li>
                    <li class="ripple">
                      <a class="tree-toggle nav-header" href="/category" onclick="window.location.href='category'" > Category 
                      </a>
                    </li>
                    <li class="ripple">
                      <a class="tree-toggle nav-header" href="/view-category" onclick="window.location.href='view-category'"> View Category
                      </a>
                    </li>
                    <li class="ripple">
                      <a class="tree-toggle nav-header" href="/add-expense" onclick="window.location.href='add-expense'"> Add Expense 
                      </a>
                    </li>
                    <li class="active ripple">
                      <a class="tree-toggle nav-header" href="/view-expense" onclick="window.location.href='view-expense'"> View Expenses
                      </a>
                    </li>
                  </ul>
                </div>
            </div>
          <!-- end: Left Menu -->


            <!-- start: Content -->
            <div id="content">
               <div class="panel box-shadow-none content-header">
                  <div class="panel-body">
                    <div class="col-md-12">
                        <h3 class="animated fadeInLeft">View Expenses</h3>
                        <p class="animated fadeInDown">
                          Dashboard <span class="fa-angle-right fa"></span> View Expenses
                        </p>
                    </div>
                  </div>
              </div>
              <div class="col-md-12 top-20 padding-0">
                <div class="col-md-12">
                  <div class="panel">
                    <div class="panel-heading"><h3>View Expenses</h3></div>
                    <div class="panel-body">
                      <div class="responsive-table">
                      <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Sr. No.</th>
                          <th>Category</th>
                          <th>Description</th>
                          <th>Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for data in expdata %}
                        <tr>
                          <td>{{ data.id }}</td>
                          <td>{{ data.cat_name }}</td>
                          <td>{{ data.desc }}</td>
                          <td>{{ data.amount|round }}</td>
                        </tr>
                        {% endfor %}
                        
                      </tbody>
                        </table>
                      </div>
                  </div>
                </div>
              </div>  
              </div>
            </div>
          <!-- end: content -->


          
      </div>

      <!-- start: Mobile -->
      <div id="mimin-mobile" class="reverse">
        <div class="mimin-mobile-menu-list">
            <div class="col-md-12 sub-mimin-mobile-menu-list animated fadeInLeft">
                <ul class="nav nav-list">
                    <li class="ripple">
                      <a class="tree-toggle nav-header" href="/dashboard">
                        <span class="fa-home fa"></span>Dashboard 
                      </a>
                    </li>
                    <li class="ripple">
                      <a class="tree-toggle nav-header" href="/category">
                        <span class="fa-diamond fa"></span>Category
                      </a>
                    </li>
                    <li class="ripple">
                      <a class="tree-toggle nav-header" href="/view-category">
                        <span class="fa-diamond fa"></span>View Category
                      </a>
                    </li>
                    <li class="ripple">
                      <a class="tree-toggle nav-header" href="/add-expense">
                        <span class="fa-area-chart fa"></span>Expense
                      </a>
                    </li>
                    <li class="active ripple">
                      <a class="tree-toggle nav-header" href="/view-expense">
                        <span class="fa-area-chart fa"></span>View Expense
                      </a>
                    </li>
                  </ul>
            </div>
        </div>      
      </div>
      <button id="mimin-mobile-menu-opener" class="animated rubberBand btn btn-circle btn-danger">
        <span class="fa fa-bars"></span>
      </button>
       <!-- end: Mobile -->

<!-- start: Javascript -->
    <script src="{{url_for('static', filename = 'js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/jquery.ui.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>



<!-- plugins -->
<script src="{{url_for('static', filename='js/plugins/moment.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugins/jquery.datatables.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugins/datatables.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugins/jquery.nicescroll.js')}}"></script>


<!-- custom -->
<script src="{{url_for('static', filename = 'js/main.js')}}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#datatables-example').DataTable();
  });
</script>
<!-- end: Javascript -->
</body>
</html>